@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#navbar{
    position:  sticky;
    border-top: 0px;
    border-left: 0px;
    padding: 5px 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: red !important;
}
#navbarsupportedcontent a{
    color: white;
    border-bottom: 5px solid transparent;
}
#navbarsupportedcontent a:hover{
    border-bottom: 2px solid red;
}
#navbarsupportedcontent button{
    background: red;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url(program/image/bg.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home p{
    font-size: 18px;
    color:beige;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background: blue !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}














